<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% include 'messages/messages.html' %}
  {% include 'scripts/css.html' %}
  <style>
   #div_id_gender input[type="radio"] {
    display: none;
  }
  #div_id_gender .form-check{
    display: inline-flex;
  }
   #div_id_gender .form-check-label {
      position: relative;
      color: #4189e0;
      font-family: "Poppins", sans-Serif;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 0.1em;
      padding: 0.3em 1em;
      margin: 2px;
      border: 2px solid #4189e0;
      border-radius: 0.5em;
    }

    #div_id_gender .form-check-label:before{
      content: "";
      height: 1em;
      width: 1em;
      border: 2px solid #4187e0;
      border-radius: 50%;
    }

    #div_id_gender .form-check-input:checked + .form-check-label:before{
      height: 1em;
      width: 1em;
      border: 0.2em solid #ffffff;
      background-color: #4187e0;
    }

    #div_id_gender .form-check-input:checked + .form-check-label{
      color: #ffffff;
      background-color: #17a2b8;
    }
    .calendar {
      width: 100%;
      border-collapse: collapse;
    }
    .calendar td {
      border: 1px solid black;
      vertical-align: top;
    }
    .date {
      font-weight: bold;
    }
    .today {
      background-color: yellow;
    }
  </style>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
<div class="wrapper">

  {% include 'STDComponents/Navbar.html' %}
  {% include 'STDComponents/Sidebar.html' %}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <br/>Department of {{queryset.department.name}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      </ol>
    </section>
    <section class="content">
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Billed</span>
              <span class="info-box-number">{{student.total_billed}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="ion ion-pie-graph"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Paid</span>
              <span class="info-box-number">{{student.total_paid}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion ion-stats-bars"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Fee Balance</span>
              <span class="info-box-number">{{student.fee_balance}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
        <!-- Main row -->
        <div class="row">
          <div class="col-md-6">
            <!-- Box Comment -->
            <div class="box box-outline box-warning">
              <div class="box-header">
                <div class="box-title">
                  <h5 class="box-title">User Profile</h5>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" style="width:260px;height:250px;" src="{% if request.user.profile_pic != '' %}/static{{request.user.profile_pic.url}} {% else %} {% static 'dist/img/icon.png' %} {% endif %}" alt="Photo">
                </div>
                <h4>{{request.user.last_name}}, {{request.user.first_name}} {{request.user.middle_name}}</h4>
              </div>
              <div class="box-footer table-responsive" style="height:100px">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <strong><i class="fa fa-book"></i>Programme</strong>
                      <p class="text-muted">{{queryset.course.name}}</p>
                  </div>
                </div>
                <hr class="dropdown-divider">
                <div class="row">
                  <div class="col-md-12"><strong>My Stage</strong>
                      <span class="description-text pull-right">{{stage}}</span>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
              </div>
              <!-- /.box-footer -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-md-6">
            <div class="box box-outline box-warning">
              <div class="box-header">
                <h3 class="box-title">Registered Units</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive" style="height:350px;">
                <table class="table m-0">
                  <tbody>
                      {% for instance in list_submitted_unit %}
                        <tr>
                          <td><div style="width:70px"><label class="text-primary">{{instance.unit.unit_code}}</label></div></td>
                          <td><p class="users-list-name">{{instance.unit.name}}</p></td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{% url 'ExamCard' %}" class="btn btn-block btn-success">Exam card</a>
              </div>
              <!-- /.box-footer-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-outline box-primary">
              <div class="box-header">
                <h3 class="box-title">Personal Information</h3>

                <div class="box-tools">
                  <button type="button" class="btn btn-success btn-sm text-sm" data-toggle="modal" data-target="#modal-default">
                    <i class="fa fa-edit"></i> Update Profile
                  </button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><b>Admission No</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{request.user.username}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Full Name</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{request.user.last_name}}, {{request.user.first_name}} {{request.user.middle_name}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Date of Birth</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{queryset.date_of_birth}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Email</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{request.user.email}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Phone Number</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{queryset.phone_number}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>ID/Passport Number</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{queryset.id_no}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Nationality</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{queryset.nationality}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Postal Address</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{queryset.address}}</div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Gender</b></td>
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{queryset.gender}}</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-md-6">
            <div class="box box-success">
                <div class="box-body no-padding table-responsive" style="height: 400px;">
                  <!-- THE CALENDAR -->
                  <div id="calendar"></div>
                </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="box box-danger"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</body>
<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'STDUpdateProfile' %}" role="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{profile_form.phone_number|as_crispy_field}}
          {{profile_form.id_no|as_crispy_field}}
          {{profile_form.nationality|as_crispy_field}}
          {{profile_form.address|as_crispy_field}}
          {{profile_form.gender|as_crispy_field}}
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn pull-left btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
</html>