{% load static %}
<style type="text/css">
     @media print{
        @page {
            size: A4;
            left: 1.27cm;
            right: 1.27cm;
            bottom: 1.27cm;
            top: 1.27cm;
        }
     }
     @font-face {
        font-family: "Edwardian Script ITC";
        src: url("/static/fonts/ITCEDSCR.TTF");
     }
     @font-face {
        font-family: "Algerian";
        src: url("/static/fonts/ALGER.TTF");
     }
    .school
    {
        font-size: 16px;
        text-align: center;
    }
    .title
    {
        font-weight: bold;
        font-size: 13px;
        text-align: center;
    }
    .heading
    {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }
    .units
    {
        text-align: left;
        font-size: 15px;
        padding: 15px;
    }
    .header2
    {
        text-align: left;
        font-size: 14px;
        padding-top: 5px;
        padding-left: 5px;
    }
    .header3
    {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
        font-family: Georgia, serif;
    }
    td {
        height: auto;
    }
</style>
<section class="content">
      <div class="row">
        <div class="col-lg-12">
          <div class="box">
           <div class="box-body">
             <table style="width:100%">
                 <tr>
                     <td colspan="3">
                         <div style="text-align:center;">
                             <img src="{% static 'img/logo.png' %}" alt="logo" style="height:120px;width:120px;border-radius:4px;"/>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td colspan="3"><div class="school" style="font-family: Algerian;"><h1>SAMILSON&nbsp;&nbsp;UNIVERSITY</h1></div></td>
                 </tr>
                 <tr>
                     <td colspan="3"><div class="title" style="font-family:Times New Roman;"><h1>FEE STRUCTURE</h1></div></td>
                 </tr>
             </table>
             <table class="table" style="width:100%" border="1">
                 <tr>
                     <td colspan="3">
                         <table class="table" style="width:100%">
                             <tr>
                                 <td><div class="header2" style="font-family:Georgia, serif;">{{ student.course.name|upper }}</div></td>
                             </tr>
                         </table>
                     </td>
                 </tr>
             </table>
               <table class="table" style="width: 100%" border="1">
                   <tr>
                       <td></td>
                       {% for queryset in queryset %}
                         <td> <div class="header3">{{queryset.stage.stage}}</div></td>
                        {% endfor %}
                       <td><div class="header3">Total Per Year</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Tuition</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.tuition}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{total_tuition}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Std Org</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.student_organization}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{total_student_organization}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Student Activity</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.student_activity}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{total_student_activity}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Student Id</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.student_id_card}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{total_student_id_card}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Computer Fee</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.computer_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{total_computer_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Examination Fee</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.examination_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{total_examination_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Internet</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.internet_connectivity}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{internet_connectivity}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Kuccps Placement Fee</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.kuccps_placement_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{kuccps_placement_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Library</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.library_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{library_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Maintenance</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.maintenance_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{maintenance_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Medical</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.medical_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{medical_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Quality</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.quality_assurance_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{quality_assurance_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Registration Fee</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.registration_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{registration_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Amenity</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.amenity_fee}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{amenity_fee}}</div></td>
                   </tr>
                   <tr>
                       <td><div class="units">Attachment</div></td>
                       {% for queryset in queryset %}
                            <td><div class="units">{{queryset.attachment}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{attachment}}</div></td>
                   </tr>
                   <tr>
                      <td><div class="units">Total Fee Payable</div></td>
                       {% for queryset in queryset %}
                            <td><div class="header3">{{queryset.total}}</div></td>
                       {% endfor %}
                       <td><div class="units">{{sub_total}}</div></td>
                   </tr>
             </table>
          </div>
        </div>
      </div>
</section>
