<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="csrf-token" content="{{csrf_token}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% include 'messages/messages.html' %}
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {% include 'Components/AdminSidebar.html' %}
  {% include 'Components/AdminNavbar.html' %}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Course Management
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'AdminDashboard' %}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href=""><i class="fa fa-book"></i>Course Management</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-outline box-info">
              <div class="box-header">
                <div class="box-title">
                  <a href="{% url 'CreateUnit' %}" class="btn btn-danger btn-sm">&nbsp;&nbsp;Create Unit</a>
                </div>
                <div class="box-tools">
                  <a href="{% url 'CreateCourse' %}" class="btn btn-success btn-sm">&nbsp;&nbsp;Create Course</a>
                </div>
              </div>
              <div class="box-body">
                <table id="list_courses" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Department</th>
                      <th>Duration</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                    <tr>
                      <td><a class="course" data-name="name" href="#" data-type="text" data-pk="{{object.id}}" data-title="Enter Course Name">{{ object.name }}</a></td>
                      <td><a href="#" class="dept" data-name="department" data-type="select2" data-pk="{{object.id}}" data-value="{{object.department.id}}" data-title="Select Department">{{object.department.name}}</a></td>
                      <td>{{ object.duration }} Years</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-success btn-flat">Action</button>
                          <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="{% url 'ListUnits' object.hashid %}">Units</a></li>
                            <li class="divider"></li>
                            <li><a class="dropdown-item" href="{% url 'DeleteCourse' object.hashid %}">Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- ./wrapper -->
</body>
</html>
